<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rotciv.whatsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CadastroGrupoActivity"
            android:label="@string/title_activity_cadastro_grupo"
            android:parentActivityName=".activity.GrupoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rotciv.whatsapp.activity.GrupoActivity" />
        </activity>
        <activity
            android:name=".activity.GrupoActivity"
            android:label="@string/title_activity_grupo"
            android:parentActivityName=".activity.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rotciv.whatsapp.activity.PrincipalActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".activity.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rotciv.whatsapp.activity.PrincipalActivity" />
        </activity>
        <activity
            android:name=".activity.ConfiguracoesActivity"
            android:parentActivityName=".activity.PrincipalActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".activity.PrincipalActivity"
            android:theme="@style/NoBarTheme" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>